Daily COVID Situation Report.json
{
  "name": "Daily COVID Situation Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -96
      ],
      "id": "19c60c69-4b4b-48d0-aea8-b1f72c46d8e5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Tejaswini\\.n8n-files\\covid_19_project.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -400,
        -96
      ],
      "id": "0a418279-a77c-4c3d-960f-729436b651fb",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract all rows\nconst data = items.map(item => item.json);\n\n// 👉 Total calculations\nconst total_confirmed = data.reduce((sum, row) => sum + Number(row.confirmed || 0), 0);\nconst total_deaths = data.reduce((sum, row) => sum + Number(row.deaths || 0), 0);\nconst total_recovered = data.reduce((sum, row) => sum + Number(row.cured || 0), 0);\n\n// Active = confirmed - recovered - deaths\nconst active_cases = total_confirmed - total_recovered - total_deaths;\n\n// Latest date (for new cases)\nconst latestDate = data[data.length - 1]?.date;\n\n// Filter latest day data\nconst latestData = data.filter(row => row.date === latestDate);\n\n// New cases today\nconst new_cases_today = latestData.reduce((sum, row) => sum + Number(row.confirmed || 0), 0);\n\n// Recovery rate\nconst recovery_rate = ((total_recovered / total_confirmed) * 100).toFixed(2);\n\n// CFR\nconst cfr = ((total_deaths / total_confirmed) * 100).toFixed(2);\n\n// Final output\nreturn [{\n  json: {\n    report_date: new Date().toLocaleDateString('en-IN'),\n    case_metrics: {\n      total_confirmed,\n      total_deaths,\n      total_recovered,\n      active_cases,\n      new_cases_today,\n      recovery_rate,\n      cfr\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -96
      ],
      "id": "6037e3cb-df56-4224-a15e-12eea6b43049",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a public health officer for India. Write clear non-technical COVID situation reports.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a daily COVID report based on this data. Date: {{ $json.report_date }}. Total Confirmed: {{ $json.case_metrics.total_confirmed }}. Total Deaths: {{ $json.case_metrics.total_deaths }}. Active Cases: {{ $json.case_metrics.active_cases }}. New Cases Today: {{ $json.case_metrics.new_cases_today }}. Case Trend: {{ $json.case_metrics.case_trend }}. Recovery Rate: {{ $json.case_metrics.recovery_rate }}%. Positivity Rate: {{ $json.testing_metrics.avg_positivity_rate }}%. High Risk States: {{ $json.testing_metrics.high_risk_states }}. Write under 150 words in simple language.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        -96
      ],
      "id": "e07ef035-f4d6-4f62-864f-658e7bc63fcf",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "yEFw8520LrCT4ZU4",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tejaswinicn2413@gmail.com",
        "subject": "=Daily COVID Report — {{ $now.format('yyyy-MM-dd') }}",
        "message": "=<h2>🦠 Daily COVID-19 Situation Report</h2> <p><b>Date:</b> {{ $now.format('yyyy-MM-dd') }}</p> <hr/> <p>{{ $json.choices[0].message.content }}</p> <hr/> <p style=\"color:gray;font-size:11px\">   Auto-generated by COVID Monitoring System powered by Groq AI </p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        -96
      ],
      "id": "8efe460b-1417-4742-a9bf-09c4dcae4267",
      "name": "Send a message",
      "webhookId": "ac577237-df80-43cf-9626-17f94b4ec33a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q3h13xbfuQR9CwAe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        -96
      ],
      "id": "c632f782-333d-4657-9103-4c72e3f0807a",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "89895214-d1e4-41ce-a356-1e35b3ad1873",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac50e2b4e6a724e6855f38e9dafbbd721f91881c59f1e129c1f183b82cceeb72"
  },
  "id": "8GyJTEjvYdysHsFy",
  "tags": []
}